{
   "swagger": "2.0",
  "info": {
    "version": "3.1",
    "title": "PeopleHR API",
    "contact": {
      "name": "PeopleWeb API Support",
      "url": "https://www.peoplehr.com/",
      "email": "customerservices@peoplehr.com"
    },
    "license": {
      "name": "PeopleWeb",
      "url": "https://www.peoplehr.com/terms.html"
    },
    "termsOfService": "https://www.peoplehr.com/terms.html/",
    "x-logo": {
      "url": "../../peoplelogo.png",
      "backgroundColor": "#34495e"
    },
    "description": ""
  },
  "host": "api.peoplehr.net",
  "basePath": "/v3.1",
  "schemes": [
    "https"
  ],
  "x-servers": [
    {
      "url": "https://api.peoplehr.net/",
      "description": "Live Server"
    }

  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Employee",
      "description": ""
    },
	{
      "name": "Employee Salary",
      "description": "Employee Salary Details\n"
    },
	{
      "name": "Employee Holiday",
      "description": "Employee Holiday Details\n"
    },
	{
      "name": "Employee Absence",
      "description": "Employee Absence Details\n"
    },
	{
      "name": "Employee Document",
      "description": "Employee Document Details\n"
    },
	{
      "name": "Employee Timesheet",
      "description": "Employee Timesheet Details\n"
    },
	{
      "name": "Employee Project Timesheet",
      "description": "The API calls to add, update and delete Project, Task and Task detail will allow you to maintain your lists using the API, the calls will not however allow you to build the hierarchy relationship between which users can see which Projects and the relationship between Projects, Tasks and Task Detail - this must be done using the UX within the settings option within People\n"
    },
	{
      "name": "Employee Appraisal",
      "description": "Employee Appraisal Details\n"
    },
	{
      "name": "Employee Benefit",
      "description": "Employee Benefit Details\n"
    },
	{
      "name": "Employee CPD",
      "description": "Employee CPD\n"
    },
	{
      "name": "Employee Driving",
      "description": "Employee Driving Details\n"
    },
	{
      "name": "Employee Qualification",
      "description": "AddNewQualification\n"
    },
	{
      "name": "Employee Training",
      "description": "Add Training Detail\n"
    },
	{
      "name": "Employee Vehicle",
      "description": "Employee Vehicle Details\n"
    },
	{
      "name": "Employee Custom Screen",
      "description": "Employee Custom Screen Details\n"
    },
	{
      "name": "Holiday Entitlement",
      "description": "Holiday Entitlement Details\n"
    },
	{
      "name": "History",
      "description": "History Details\n"
    },
	{
      "name": "Query",
      "description": "Query Details\n"
    },
	{
      "name": "Email Transaction",
      "description": "Email Transaction Details\n"
    },
	{
      "name": "Right To Work",
      "description": "Right To Work Details\n"
    },
	{
      "name": "Background Check",
      "description": "Background Check Details\n"
    },
	{
      "name": "Other Event",
      "description": "Other Event Details\n"
    },
	{
      "name": "Vacancy",
      "description": ""
    },
	{
      "name": "Applicant",
      "description": ""
    },
	{
      "name": "WorkPattern",
      "description": "WorkPattern Details\n"
    },
	{
      "name": "Employeee Late",
      "description": "Employeee Late Details\n"
    },
	{
      "name": "Maternity Paternity ",
      "description": " Maternity Paternity Details\n"
    }

  ],
    "securityDefinitions": {

  },

  "security": [
    {
      "ApiKey": []
    }
  ],
  "responses": {
    "AccessForbidden": {
      "description": "Access forbidden, invalid API-KEY was used",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "NotFound": {
      "description": "Resource was not found",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "Conflict": {
      "description": "Conflict",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "InvalidDataError": {
      "description": "Invalid data was sent",
      "schema": {
        "$ref": "#/definitions/InvalidError"
      }
	},

	"SuccessMessageForUpdateEmployeeIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateEmployeeId"
      }
    },
	"SuccessMessageForMarkAsLeaverByIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForMarkAsLeaverById"
      }
    },
	"SuccessMessageForAddEmployeeImageByIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddEmployeeImageById"
      }
    },
	"SuccessMessageForGetAllEmployeeDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAllEmployeeDetail"
      }
    },
	"SuccessMessageForGetEmployeeDetailByIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetEmployeeDetailById"
      }
    },
	"SuccessMessageForCreateNewEmployeeApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCreateNewEmployeeDetail"
      }
    },
	"SuccessMessageForUpdateEmployeeDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateEmployeeDetail"
      }
    },

	"SuccessMessageForAddNewHolidayApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewHoliday"
      }
    },
	"SuccessMessageForUpdateHolidayApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateHoliday"
      }
    },
	"SuccessMessageForGetHolidayDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetHolidayDetail"
      }
    },
	"SuccessMessageForDeleteHoliday": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteHolidy"
      }
    },

	 "SuccessMessageForGetAbsenceDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAbsenceDetail"
      }
    },
	"SuccessMessageForDeleteAbsenceEmployeeApi":{
	  "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForEmployeeAbsenceDelete"
      }
	},
	"SuccessMessageForAddEmployeeAbsence":{
	"description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddEmployeeAbsence"
      }
	},
	"SuccessMessageForUpdateAbsenceDetail":{
	  "description": "Check description for error code",
      "schema": {
                  "$ref": "#/definitions/ErrorForUpdateAbsenceDetails"
                }
	},

	"SuccessMessageForGetSalaryDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetSalaryDetail"
      }
    },
	"SuccessMessageForCreateNewSalaryApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCreateNewSalary1"
      }
    },
	"SuccessMessageForDeleteSalaryApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteSalary"
      }
    },

	"SuccessMessageForUploadEmployeeDocument": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUploadEmployeeDocument"
      }
    },
	"SuccessMessageForGetAllDocument":{
	  "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAllDocument"
      }
	},
   "SuccessMessageForGetDocumentById":{
	"description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetDocumentById"
      }
	},

   "SuccessMessageForCreateNewEmployeeTimesheetApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCreateNewEmployeeTimesheetDetail"
      }
    },
	 "SuccessMessageForUpdateEmployeeTimesheetApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateEmployeeTimesheetDetail"
      }
    },
	"SuccessMessageForDeleteEmployeeTimesheet": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteEmployeeTimesheetDetail"
      }
    },
	"SuccessMessageForGetTimesheetDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetTimesheetDetail"
      }
    },

	"SuccessMessageForGetBenefitByEmployeeId": {
        "description": "Check description for error code",
        "schema": {
          "$ref": "#/definitions/ErrorForGetBenefitByEmployeeId"
        }
    },
	"SuccessMessageForGetByBenefitIdApi":{
	   "description": "Check description for error code",
       "schema": {
         "$ref": "#/definitions/ErrorForGetByBenefitIdApi"
        }
	},
	"SuccessMessageForAddNewBenefitApi":{
	   "description": "Check description for error code",
       "schema": {
          "$ref": "#/definitions/ErrorForAddNewBenefitApi"
        }
	},
	"SuccessMessageForUpdateBenefitApi":{
	  "description": "Check description for error code",
      "schema": {
		  "$ref": "#/definitions/ErrorForUpdateBenefitApi"
		}
	},
   "SuccessMessageForDeleteBenefitApi":{
	  "description": "Check description for error code",
      "schema": {
           "$ref": "#/definitions/ErrorForDeleteBenefit"
        }
	},
	"SuccessMessageForGetCustomScreenDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetCustomScreenDetail"
      }
    },
	"SuccessMessageForGetCustomScreenByEmployeeIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetCustomScreenByEmployeeId"
      }
    },
	"SuccessMessageForGetByCustomScreenTransactionIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetByCustomScreenTransactionId"
      }
    },
	"SuccessMessageForAddNewCustomScreenTransactionApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewCustomScreenTransaction"
      }
    },
	"SuccessMessageForUpdateCustomScreenTransactionApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateCustomScreenTransaction"
      }
    },
	"SuccessMessageForDeleteCustomScreenTransactionApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteCustomScreenTransaction"
      }
    },
	"SuccessMessageForGetHolidayEntitlementApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetHolidayEntitlement"
      }
    },
	"SuccessMessageForGetQueryResultByQueryNameApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetQueryResultByQueryName"
      }
    },
	"SuccessMessageForGetQueryResultApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetQueryResult"
      }
    },
	"SuccessMessageForGetHistoryByEmployeeIdAndFieldNameApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetHistoryByEmployeeIdAndFieldName"
      }
    },
	"SuccessMessageForUpdateNextYearHolidayEntitlementApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateNextYearHolidayEntitlement"
      }
    },
	"SuccessMessageForUpdateHolidayEntitlementApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateHolidayEntitlement"
      }
    },
	"SuccessMessageForGetNextYearHolidayEntitlementApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetNextYearHolidayEntitlement"
      }
    },
    "SuccessMessageForCreateNewVacancy": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCreateNewVacancy"
      }
    },
	"SuccessMessageForGetVacancyByReference": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetVacancy"
      }
    },
	"SuccessMessageForGetAllVacancyByReference": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAllVacancy"
      }
    },

   "SuccessMessageForEmailInboxApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForEmailInbox"
      }
    },
	"SuccessMessageForaddrighttoworkdetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForaddrighttoworkdetail"
      }
    },

	"SuccessMessageForgetrighttoworkdetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForgetrighttoworkdetail"
      }
    },
	"SuccessMessageForupdaterighttoworkdetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForupdaterighttoworkdetail"
      }
    },
	"SuccessMessageFordeleterighttoworkdetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorFordeleterighttoworkdetail"
      }
    },
	"SuccessMessageForGetBackgroundCheckDetailByEmployeeIdApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetBackgroundCheckDetailByEmployeeId"
      }
    },
	"SuccessMessageForAddBackgroundCheckDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddBackgroundCheckDetail"
      }
    },
	"SuccessMessageForUpdateBackgroundCheckDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateBackgroundCheckDetail"
      }
    },
	"SuccessMessageForDeleteBackgroundCheckDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteBackgroundCheckDetail"
      }
    },
	"SuccessMessageForgetothereventdetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForgetothereventdetail"
      }
    },
	"SuccessMessageForgetotherevententitlementApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForgetotherevententitlement"
      }
    },
	"SuccessMessageForDeleteOtherEventApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteOtherEvent"
      }
    },
	"SuccessMessageForaddothereventleaveApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForaddothereventleave"
      }
    },
	"SuccessMessageForupdateothereventleaveApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForupdateothereventleave"
      }
    },
	"SuccessMessageForaddotherevententitlementApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForaddotherevententitlement"
      }
    },

	"SuccessMessageForCreateNewApplicant": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCreateNewApplicant"
      }
    },
	"SuccessMessageForCheckDuplicateApplicant": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCheckDuplicateApplicant"
      }
    },

	"SuccessMessageFordeletelate": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorFordeletelate"
      }
    },
	"SuccessMessageForGetLateByEmployeeId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetLateByEmployeeId"
      }
    },
	"SuccessMessageForAddNewLate": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewLate"
      }
    },
	"SuccessMessageForUpdateLate": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpadteLate"
      }
    },

	"SuccessMessageForWorkPattern": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForWorkPattern"
      }
    },
	"SuccessMessageForuploadapplicantdocument": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForuploadapplicantdocument"
      }
    },

   "SuccessMessageForEmployeeAppraisalGetEmployeeById": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForEmployeeAppraisalGetEmployeeById"
      }
    },
	"SuccessMessageForGetByAppraisalId":{
	  "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetByAppraisalId"
      }
	},
	"SuccessMessageForAddNewAppraisal":{
	"description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewAppraisal"
      }
	},
	"SuccessMessageForUpdateAppraisal":{
	  "description": "Check description for error code",
      "schema": {
                  "$ref": "#/definitions/ErrorForUpdateAppraisal"
                 }
	 },
	"SuccessMessageForDeleteAppraisal":{
	  "description": "Check description for error code",
      "schema": {
                  "$ref": "#/definitions/ErrorForDeleteAppraisal"
                 }
	},

	 "SuccessMessageForAddNewDrivingLicenseApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForAddNewDrivingLicense"
      }
    },

	 "SuccessMessageForUpdateDrivingLicenseApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForUpdateDrivingLicense"
      }
    },
	"SuccessMessageForGetDrivingLicenseByEmployeeIdApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForGetDrivingLicenseByEmployeeId"
      }
    },

	"SuccessMessageForGetDrivingLicenseByDrivingIdApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForGetDrivingLicenseByDrivingId"
      }
    },
	 "SuccessMessageForDeleteDrivingLicenseApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteDrivingLicense"
      }
    },

	"SuccessMessageForGetQualificationByEmployeeIdApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForGetQualificationByEmployeeId"
      }
    },
	"SuccessMessageForGetQualificationByQualificationIdApi": {
      "description": "Check description for error code",
      "schema": {
	    "$ref": "#/definitions/ErrorForGetQualificationByQualificationId"
      }
    },
	"SuccessMessageForAddNewQualificationApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewQualification"
      }
    },
	"SuccessMessageForUpdateQualificationApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateQualification"
      }
    },
	"SuccessMessageForDeleteQualificationApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForDeleteQualification"
      }
    },
	"SuccessMessageForGetTrainingDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetTrainingDetail"
      }
    },

	"SuccessMessageForAddTrainingDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddTrainingDetail"
      }
    },
	"SuccessMessageForUpdateTrainingDetailApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorForUpdateTrainingDetail"
      }
    },

	"SuccessMessageForDeleteTrainingDetailApi": {
      "description": "Check description for error code",
      "schema": {
		"$ref": "#/definitions/ErrorFordeletetrainingdetail"
      }
    },

	"SuccessMessageForAddNewVehicleDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewVehicleDetail"
      }
    },
	"SuccessMessageForUpdateVehicleDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateVehicleDetail"
      }
    },
	"SuccessMessageForDeleteVehicleDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteVehicleDetail"
      }
    },
	"SuccessMessageForGetVehicleDetailByVehicleId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetVehicleDetailByVehicleId"
      }
    },
	"SuccessMessageForGetVehicleDetailByEmployeeId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetVehicleDetailByEmployeeId"
      }
    },
	"SuccessMessageForGetByMaternityPaternityId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetByMaternityPaternityId"
      }
    },

	"SuccessMessageForGetMaternityPaternityByEmployeeId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetByMaternityPaternityByEmpId"
      }
    },

	"SuccessMessageForAddNewMaternityPaternityApi":{
	"description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewMaternityPaternityApi"
      }
	},

	"SuccessMessageForUpdateMatenityPaternityApi":{
	  "description": "Check description for error code",
      "schema": {
                  "$ref": "#/definitions/ErrorForUpdateMaternityPaternityApi"
                 }
	},
	"SuccessMessageForDeleteMaternityPaternityApi":{
	  "description": "Check description for error code",
      "schema": {
                  "$ref": "#/definitions/ErrorForDeleteMaternityPaternity"
                 }
	},
	"SuccessMessageForGetProjectTimesheetDetailApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetProjectTimesheetDetail"
      }
    },

	"SuccessMessageForGetProjectTimesheetByTransactionId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetProjectTimesheetByTransactionId"
      }
    },

	"SuccessMessageForCreateProjectTimesheet": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForCreateProjectTimesheet"
      }
    },
	"SuccessMessageForUpdateProjectTimesheet": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateProjectTimesheet"
      }
    },

	"SuccessMessageForDeleteProjectTimesheet": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteProjectTimesheet"
      }
    },

	"SuccessMessageForGetAllTimesheetProjectApi": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAllTimesheetProject"
      }
    },

	"SuccessMessageForAddNewProject": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewProject"
      }
    },

	"SuccessMessageForEditProject": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForEditProject"
      }
    },

	"SuccessMessageForGetAllProjectTask": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAllProjectTask"
      }
    },

	"SuccessMessageForAddNewProjectTask": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewProjectTask"
      }
    },

	"SuccessMessageForEditProjectTask": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForEditProjectTask"
      }
    },
	"SuccessMessageForGetAllProjectTaskDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetAllProjectTaskDetail"
      }
    },
   "SuccessMessageForAddNewProjectTaskDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewProjectTaskDetail"
      }
    },
	"SuccessMessageForEditProjectTaskDetail": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForEditProjectTaskDetail"
      }
    },

	"SuccessMessageForGetCPDByEmployeeId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetCPDByEmployeeId"
      }
    },

	"SuccessMessageForGetByCPDId": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForGetByCPDId"
      }
    },

	"SuccessMessageForAddNewCPD": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForAddNewCPD"
      }
    },

	"SuccessMessageForUpdateCPD": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForUpdateCPD"
      }
    },

	"SuccessMessageForDeleteCPD": {
      "description": "Check description for error code",
      "schema": {
        "$ref": "#/definitions/ErrorForDeleteCPD"
      }
    },

	"NO_API_KEY": {
      "description": "API key is missing",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	 "INVALID_API_KEY": {
      "description": "Invalid API Key",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	 "NO_ACTION": {
      "description": "Action is missing",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"INVALID_ACTION": {
      "description": "Invalid Action",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"NO_JSON_DATA": {
      "description": "No json data found",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"NO_FORM_DATA": {
      "description": "Either empty or no Form Data",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"INVALID_JSON_DATA": {
      "description": "Invalid json data",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"NO_RECORD_FOUND": {
      "description": "No records found",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"NO_SIGNATURE": {
      "description": "No Signature",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"INVALID_SIGNATURE": {
      "description": "Unauthorized access",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"INVALID_MOBILE_LOGIN_TOKEN": {
      "description": "Invalid mobile login token",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	"ACCESS_DENIED": {
      "description": "Access Denied",
       "schema": {
        "$ref": "#/definitions/Error"
      }
	},
	 "APIKeyDoesNotExistError": {
      "description": "API Key does not exists",
      "schema": {
        "$ref": "#/definitions/Error"
      }
	  },
	   "OldEIdAndNewEIdShouldNotSameError": {
      "description": "OldEmployeeId and NewEmployeeId should not be same",
      "schema": {
        "$ref": "#/definitions/Error"
      }
	  },
	  "OldEmployeeIdNotExistsError": {
      "description": "OldEmployeeId does not exists",
      "schema": {
        "$ref": "#/definitions/Error"
      }
	  }

  },

   "parameters": {

    "APIKey": {
      "name": "APIKey",
      "in": "path",
      "description": "API Key",
      "type": "string",
	  "required": true
    },

	 "Action": {
      "name": "Action",
      "in": "path",
      "description": "UpdateEmployeeId",
      "type": "string",
	  "required": true
    },
    "ReasonForChange": {
      "name": "ReasonForChange",
      "in": "path",
      "description": "Reason for change employee id",
      "type": "string",
	  "required": true
    },
	 "OldEmployeeId": {
      "name": "OldEmployeeId",
      "in": "path",
      "description": "Old employee id",
      "type": "string",
	  "required": true
    },
	 "NewEmployeeId": {
      "name": "NewEmployeeId",
      "in": "path",
      "description": "New employee id",
      "type": "string",
	  "required": true
    },

    "EmailAddress": {
      "name": "EmailAddress",
      "in": "path",
      "description": "Email address of user",
	  "format": "email",
      "type": "string",
	  "required": true
    },

	"Password": {
      "name": "Password",
      "in": "path",
      "description": "Password of user",
      "type": "string",
	  "required": true
    },

   "resourceId": {
      "name": "id",
      "in": "path",
      "description": "The resource identifier string",
      "type": "string",
      "required": true
    },

    "hash": {
      "name": "hash",
      "in": "path",
      "description": "The token identifier string",
      "type": "string",
      "required": true
    },
    "mediaType": {
      "name": "Accept",
      "in": "header",
      "type": "string",
      "enum": [
        "application/json"
      ],
      "default": "application/json",
      "description": "The response media type"
    }
  },

   "paths": {

   	 "/Employee  -  CheckAuthentication":
	  {
	     "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Check Authentication",
        "description": "This API is used to check authentication for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAuthentication2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

			  "schema": {
              "$ref": "#/definitions/CheckAuthenticationResult"
            }
          }

        }
      }


	  },

     "/Employee  -  UpdateEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Update Employee Id",
        "description": "This API is used to update employee id details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEmployeeId2"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateEmployeeIdApi"
          }

        }
      }

	  },

	 "/Employee  -  GetAllEmployeeDetail":
	  {
	   "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Get All Employee Detail",
        "description": "This API is used to get employee detail list. Please note the History fields have been deprecated and will not return any data. To retrieve History data the individual employee record needs to be retrieved using the GetEmployeeDetail method call, this will return the History data.\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAllEmployeeDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetAllEmployeeDetailApi"
          }

        }
      }


	  },

	  "/Employee  -  GetEmployeeDetailById":
	  {
	   "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Get Employee Detail By Id",
        "description": "This API is used to get employee detail by id\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEmployeeDetailByIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetEmployeeDetailByIdApi"
          }

        }
      }},

	 "/Employee  -  CreateNewEmployee":
	  {
	   "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create New Employee",
        "description": "This API is used to create new employee\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEmployeeDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForCreateNewEmployeeApi"
          }

        }
      }},

	 "/Employee  -  UpdateEmployeeDetail":
	  {
	   "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Update Employee Details",
        "description": "This API is used to update employee details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEmployeeDetail3"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateEmployeeDetailApi"
          }

        }
      }},

	  "/Employee  -  MarkAsLeaverById" :{

	    "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Mark As Leaver By Id",
        "description": "This API is used to update/mark employee leaver status by id\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MarkAsLeaverById2"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForMarkAsLeaverByIdApi"
          }

        }
      }



	  },

	 "/Employee  -  AddEmployeeImage" :{

	    "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Add Employee Image By Id",
        "description": "This API is used to add employee image by id\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddEmployeeImageById2"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddEmployeeImageByIdApi"
          }

        }
      }


	  },

     "/EmployeeSalary  -  GetSalaryDetail":
	  {
	   "post": {
        "tags": [
          "Employee Salary"
        ],
        "summary": "Get Salary Detail",
        "description": "This API is used to Get employee salary details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSalaryDetail2"
            }
          }
        ],
        "responses": {
          "200": {
			       "$ref": "#/responses/SuccessMessageForGetSalaryDetailApi"
                 }
        }
      }
	 },
	 "/EmployeeSalary  -  CreateNewSalary":
       {
	      "post": {
          "tags": [
                    "Employee Salary"
                   ],
          "summary": "Create New Salary",
          "description": "This API is used to Create New Salary for given user\n",
          "parameters": [
           {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateNewSalaryParameter"
            }
          }
        ],
        "responses": {
          "200": {

                  "$ref": "#/responses/SuccessMessageForCreateNewSalaryApi"
              }
        }
      }

      },
	 "/EmployeeSalary  -  DeleteSalary":
		{
		"post": {
        "tags": [
          "Employee Salary"
         ],
        "summary": "Delete Salary",
        "description": "This API is used to delete Salary details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSalaryParameter"
            }
          }
        ],
        "responses": {
          "200": {

			   "$ref": "#/responses/SuccessMessageForDeleteSalaryApi"
          }
        }
      }

	  },

	 "/Employee Holiday  -  AddNewHoliday":
	  {
	    "post": {
			"tags": [
			  "Employee Holiday"
			],
			"summary": "Add New Holiday",
			"description": "This API is used to add new holiday\n",
			"parameters": [
			  {
				"name": "body",
				"in": "body",
				"required": true,
				"schema": {
				  "$ref": "#/definitions/AddNewHolidayParameter"
				}
			  }
			 ],
			"responses": {
			  "200": {

				 "$ref": "#/responses/SuccessMessageForAddNewHolidayApi"
			  }

			}
        }

	  },

	 "/Employee Holiday  -  UpdateHoliday":
	  {
	    "post": {
			"tags": [
			  "Employee Holiday"
			],
			"summary": "Update Holiday",
			"description": "This API is used to update holiday detail\n",
			"parameters": [
			  {
				"name": "body",
				"in": "body",
				"required": true,
				"schema": {
				  "$ref": "#/definitions/UpdateHolidayParameter"
				}
			  }
			 ],
			"responses": {
			  "200": {

				 "$ref": "#/responses/SuccessMessageForUpdateHolidayApi"
			  }

			}
        }


	  },

	  "/Employee Holiday  -  GetHolidayDetail":
	  {
	    "post": {
			"tags": [
			  "Employee Holiday"
			],
			"summary": "Get Holiday Detail",
			"description": "This API is used to get holiday detail list\n",
			"parameters": [
			  {
				"name": "body",
				"in": "body",
				"required": true,
				"schema": {
				  "$ref": "#/definitions/GetHolidayDetailParameter"
				}
			  }
			 ],
			"responses": {
			  "200": {

				 "$ref": "#/responses/SuccessMessageForGetHolidayDetailApi"
			  }

			}
        }


	  },

	 "/Employee Holiday  -  DeleteHoliday":
	  {
	   "post": {
        "tags": [
          "Employee Holiday"
        ],
        "summary": "Delete holiday",
        "description": "This API is used to delete holiday detail\n\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteHolidayParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteHoliday"
          }

        }
      }

	  },

	 "/EmployeeAbsence  -  GetAbsenceDetail":
	  {
	    "post": {
        "tags": [
          "Employee Absence"
        ],
        "summary": "Get Absence Detail",
        "description": "This API is used to employee absence details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAbsenceDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetAbsenceDetailApi"
          }
        }
       }},

    "/EmployeeAbsence  -  DeleteAbsence":
	  {
       "post": {
        "tags": [
          "Employee Absence"
        ],
        "summary": "Delete Absence",
        "description": "This API is used to delete absence  for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAbsenceOfEmployeeParameter"
            }
          }
        ],
		"responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteAbsenceEmployeeApi"
          }

        }
      }
	 },
   "/EmployeeAbsence  -  AddAbsence":
	  {
    	"post": {
        "tags": [
          "Employee Absence"
        ],
        "summary": "Add Absence",
        "description": "This API is used to add absence for given user\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddAbsenceOfEmployeeParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForAddEmployeeAbsence"
          }
        }
      }
    },

	"/EmployeeAbsence  -  UpdateAbsence":
	  {
	    "post": {
        "tags": [
          "Employee Absence"
        ],
        "summary": "Update Absence ",
        "description": "This API is used to update absence  for given user\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAbsenceDetailParameter"
            }
          }
        ],
		"responses": {
          "200": {
			       "$ref": "#/responses/SuccessMessageForUpdateAbsenceDetail"
                 }
        }
      }
    },

	 "/EmployeeDocument  -  UploadEmployeeDocument":
	  {
	   "post": {
        "tags": [
          "Employee Document"
        ],
        "summary": "Upload Employee Document",
        "description": "This API is used to Upload Employee Document details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadEmployeeDocumentParameter"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForUploadEmployeeDocument"
          }
        }
      }
	 },

	  "/EmployeeDocument  -  GetAllDocument":
	   {
	    "post": {
        "tags": [
          "Employee Document"
        ],
        "summary": "Get All Document",
        "description": "This API is used to GEt All Document Detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAllDocumentParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForGetAllDocument"
          }
        }
      }
   },

	 "/EmployeeDocument  -  GetDocumentById":
      {
	   "post": {
          "tags": [
          "Employee Document"
        ],
        "summary": "Get Document By Id",
        "description": "This API is used to get Document By Id for given user\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDocumentByIDParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForGetDocumentById"
          }
        }
      }

	 },

	 "/Employee Timesheet  -  GetTimesheetDetail":
	  {
	   "post": {
        "tags": [
          "Employee Timesheet"
        ],
        "summary": "Get Employee Timesheet Detail List",
        "description": "This API is used to get employee timesheet detail list\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTimesheetdefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetTimesheetDetail"
          }

        }
      }


	  },

	 "/Employee Timesheet  -  CreateNewTimesheet":
	  {
	    "post": {
        "tags": [
          "Employee Timesheet"
        ],
        "summary": "Create New Timesheet",
        "description": "This API is used to create new employee Timesheet\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateNewTimesheetDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",
			"$ref": "#/responses/SuccessMessageForCreateNewEmployeeTimesheetApi"


          }

        }
      }

	  },

	 "/Employee Timesheet  -  UpdateTimesheet":
	  {
	   "post": {
        "tags": [
          "Employee Timesheet"
        ],
        "summary": "Update Employee Timesheet",
        "description": "This API is used to update employee timesheet details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTimesheetDefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateEmployeeTimesheetApi"
          }

        }
      }

	  },

	  "/Employee Timesheet  -  DeleteTimesheet":
	  {
	    "post": {
        "tags": [
          "Employee Timesheet"
        ],
        "summary": "Delete Timesheet",
        "description": "This API is used to delete employee Timesheet\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteTimesheetdefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",
			"$ref": "#/responses/SuccessMessageForDeleteEmployeeTimesheet"


          }

        }
      }

	  },

	  "/Employee Project Timesheet  -  GetProjectTimesheetDetail":
	  {
	     "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Get Project Time sheet Detail",
        "description": "This API is used to get project time sheet detail for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetProjectTimesheetDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetProjectTimesheetDetailApi"

          }

        }
      }

	 },

	"/Employee Project Timesheet  -  GetProjectTimesheetByTransactionId":
	  {
	     "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Get Project Timesheet By TransactionId",
        "description": "This API is used to get project timesheet by transactionid for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetProjectTimesheetByTransactionId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetProjectTimesheetByTransactionId"

          }

        }
      }

	 },

	 "/Employee Project Timesheet  -  CreateProjectTimesheet":
	  {
	     "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Create project timesheet",
        "description": "This API is used to create project timesheet for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProjectTimesheetParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForCreateProjectTimesheet"

          }

        }
      }

	 },
	 "/Employee Project Timesheet  -  UpdateProjectTimesheet":
	  {
	     "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Update project timesheet",
        "description": "This API is used to update project timesheet for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProjectTimesheetParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForUpdateProjectTimesheet"

          }

        }
      }

	 },

	 "/Employee Project Timesheet  -  DeleteProjectTimesheet":
	  {
	    "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Delete project timesheet",
        "description": "This API is used to delete project timesheet for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteProjectTimesheetParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForDeleteProjectTimesheet"

          }

        }
      }

	 },

	  "/Employee Project Timesheet  -  GetAllTimesheetProject":
	  {
	    "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Get All Timesheet Project",
        "description": "This API is used to get all timesheet project detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAllTimesheetProjectParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetAllTimesheetProjectApi"

          }

        }
      }

	 },

	 "/Employee Project Timesheet  -  AddNewProject":
	  {
	   "post":
	   {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Add New Project",
        "description": "This API is used to add new project details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewProjectParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForAddNewProject"
          }
        }
      }
    },

	  "/Employee Project Timesheet  -  EditProject":
	  {
	   "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Edit Project",
        "description": "This API is used to edit project details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditProjectParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForEditProject"
          }
        }
      }
    },

	  "/Employee Project Timesheet  -  GetAllProjectTask":
	  {
	     "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Get All Project Task",
        "description": "This API is used to get all project task detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAllProjectTaskParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetAllProjectTask"

          }

        }
      }

	 },

	 "/Employee Project Timesheet  -  AddNewProjectTask":
	  {
	     "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Add New Project Task",
        "description": "This API is used to add new project task detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewProjectTaskParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForAddNewProjectTask"

          }

        }
      }

	 },

	 "/Employee Project Timesheet  -  EditProjectTask":
	  {
	    "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Edit Project Task",
        "description": "This API is used to edit project task detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditProjectTaskParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForEditProjectTask"

          }

        }
      }

	 },

	"/Employee Project Timesheet  -  GetAllProjectTaskDetail":
	  {
	    "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Get All Project Task Detail",
        "description": "This API is used to get all project task detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAllProjectTaskDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetAllProjectTaskDetail"

          }

        }
      }

	 },

	"/Employee Project Timesheet  -  AddNewProjectTaskDetail":
	{
	    "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Add New Project Task Detail",
        "description": "This API is used to add new project task detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewProjectTaskDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForAddNewProjectTaskDetail"

          }

        }
      }},
   "/Employee Project Timesheet  -  EditProjectTaskDetail":
	{
	    "post": {
        "tags": [
          "Employee Project Timesheet"
        ],
        "summary": "Edit Project Task Detail",
        "description": "This API is used to edit project task detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditProjectTaskDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForEditProjectTaskDetail"

          }

        }
      }},


	  "/EmployeeAppraisal  -  GetByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee Appraisal"
        ],
        "summary": " Get By Employee Id ",
        "description": "This API is used to Get By Employee Id Appraisal details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByEmployeeIdForEmployeeAppraisal"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForEmployeeAppraisalGetEmployeeById"
          }
        }
       }
	  },
	  "/EmployeeAppraisal  -  GetByAppraisalId":
	  {
	   "post": {
        "tags": [
          "Employee Appraisal"
        ],
        "summary": "Get By Appraisal Id",
        "description": "This API is used to Get By Appraisal Id  details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByAppraisalIdForEmployeeAppraisal"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForGetByAppraisalId"
          }
        }
       }
	  },
	  "/EmployeeAppraisal  -  AddNewAppraisal":
	  {
	     "post": {
        "tags": [
          "Employee Appraisal"
        ],
        "summary": "Add New Appraisal",
        "description": "This API is used to add new appraisal for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewAppraisalParameter"
            }
          }
        ],
		"responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddNewAppraisal"
          }

        }
      }  },
	  "/EmployeeAppraisal  -  UpdateAppraisal":
	  {
	   "post": {
        "tags": [
          "Employee Appraisal"
        ],
        "summary": "Update Appraisal",
        "description": "This API is used to Update Appraisal for given user\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAppraisalParameter"
            }
          }
        ],
		"responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateAppraisal"
          }
        }
      }
    },

  "/EmployeeAppraisal  -  DeleteAppraisal":
	  {
	   "post": {
        "tags": [
          "Employee Appraisal"
        ],
        "summary": "Delete Appraisal ",
        "description": "This API is used to Delete Appraisal for given user\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAppraisalParameter"
            }
          }
        ],
		"responses": {
          "200": {
			       "$ref": "#/responses/SuccessMessageForDeleteAppraisal"
                 }
        }
      }
    },

	 "/EmployeeBenefit  -  GetBenefitByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee Benefit"
        ],
        "summary": "Get Benefit By EmployeeId Id ",
        "description": "This API is used to get by employee id details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBenefitByEmployeeIdParameter"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForGetBenefitByEmployeeId"
          }
        }
       }},
   "/EmployeeBenefit  -  GetBenefitByBenefitId":
	  {
	     "post": {
         "tags": [
          "Employee Benefit"
        ],
        "summary": "Get By Benefit Id",
        "description": "This API is used to get by  benefit id details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByBenefitIdParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForGetByBenefitIdApi"
          }
        }
      }
	  },
	"/EmployeeBenefit  -  AddNewBenefit":
	  {
	   "post": {
        "tags": [
          "Employee Benefit"
        ],
        "summary": "Add New Benefit",
        "description": "This API is used to Add new benefit details\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewBenefitParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForAddNewBenefitApi"
          }
        }
      }
    },
   "/EmployeeBenefit  -  UpdateBenefit":
	  {
	   "post": {
        "tags": [
          "Employee Benefit"
        ],
        "summary": "Update Benefit ",
        "description": "This API is used to Update Benefit Details\n",
            "parameters": [
           {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBenefitParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForUpdateBenefitApi"
          }
        }
      }
    },
	"/EmployeeBenefit  -  DeleteBenefit":
	  {
	    "post": {
        "tags": [
          "Employee Benefit"
        ],
        "summary": "Delete Benefit ",
        "description": "This API is used to Delete Benefit Details\n",
            "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBenefitParameter"
            }
          }
        ],
		"responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForDeleteBenefitApi"
          }
        }
      }
    },

	 "/Employee CPD  -  GetCPDByEmployeeId":
	  {
	     "post": {
        "tags": [
          "Employee CPD"
        ],
        "summary": "Get CPD By EmployeeId",
        "description": "This API is used to Get CPD By EmployeeId for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCPDByEmployeeIdParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetCPDByEmployeeId"

          }

        }
      }},

	 "/Employee CPD  -  GetByCPDId":
	  {
	     "post": {
        "tags": [
          "Employee CPD"
        ],
        "summary": "Get By CPDId",
        "description": "This API is used to Get By CPDId for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByCPDIdParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForGetByCPDId"

          }

        }
      }},


	  "/Employee CPD  -  AddNewCPD":
	  {
	     "post": {
        "tags": [
          "Employee CPD"
        ],
        "summary": "Add new CPD",
        "description": "This API is used to add new CPD for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddnewCPDParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForAddNewCPD"

          }

        }
      }},

	 "/Employee CPD  -  UpdateCPD":
	  {
	     "post": {
        "tags": [
          "Employee CPD"
        ],
        "summary": "Update CPD",
        "description": "This API is used to update CPD for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCPDParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForUpdateCPD"

          }

        }
      }},

	 "/Employee CPD  -  DeleteCPD":
	  {
	     "post": {
        "tags": [
          "Employee CPD"
        ],
        "summary": "Delete CPD",
        "description": "This API is used to delete CPD for given user\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCPDParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "check description for error code",

              "$ref": "#/responses/SuccessMessageForDeleteCPD"

          }

        }
      }},


	"/Employee Driving  -  GetDrivingLicenseByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee Driving"
        ],
        "summary": "Get Driving License By Employee Id",
        "description": "This API is used to get driving license by employeeid\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/GetDrivingLicenseByEmployeeIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetDrivingLicenseByEmployeeIdApi"
          }
        }
      }},

	  "/Employee Driving  -  GetDrivingLicenseByDrivingId":
	  {
	   "post": {
        "tags": [
          "Employee Driving"
        ],
        "summary": "Get Driving License By Driving Id",
        "description": "This API is used to get driving license by drivingId\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/GetDrivingLicenseByDrivingIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetDrivingLicenseByDrivingIdApi"
          }

        }
      }},

	  "/Employee Driving  -  AddNewDrivingLicense":
	  {
	   "post": {
        "tags": [
          "Employee Driving"
        ],
        "summary": "Add New Driving License",
        "description": "This API is used to Add new driving license\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/AddNewDrivingLicenseParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddNewDrivingLicenseApi"
          }

        }
      }},

	   "/Employee Driving  -  UpdateDrivingLicense":
	  {
	   "post": {
        "tags": [
          "Employee Driving"
        ],
        "summary": "Update Driving License",
        "description": "This API is used to update driving license\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/UpdateDrivingLicenseParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateDrivingLicenseApi"
          }

        }
      }},

	  "/Employee Driving  -  DeleteDrivingLicense":
	  {
	   "post": {
        "tags": [
          "Employee Driving"
        ],
        "summary": "Delete Driving License",
        "description": "This API is used to delete driving license\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDrivingLicenseParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteDrivingLicenseApi"
          }

        }
      }},

	  "/Employee Qualification  -  GetQualificationByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee Qualification"
        ],
        "summary": "Get Qualification By EmployeeId",
        "description": "This API is used to get qualification by EmployeeId \n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/GetQualificationByEmployeeIdParameter"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForGetQualificationByEmployeeIdApi"
          }

        }
      }},

	   "/Employee Qualification  -  GetQualificationByQualificationId":
	  {
	   "post": {
        "tags": [
          "Employee Qualification"
        ],
        "summary": "Get Qualification By QualificationId",
        "description": "This API is used to Get qualification by qualification Id \n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/GetQualificationByQualificationIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetQualificationByQualificationIdApi"
          }

        }
      }},

	  "/Employee Qualification  -  AddNewQualification" :{

	    "post": {
        "tags": [
          "Employee Qualification"
        ],
        "summary": "Add New Qualification",
        "description": "This API is used to Add new qualification\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewQualificationParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddNewQualificationApi"
          }

        }
      }
	  },

	  "/Employee Qualification  -  UpdateQualification" :{

	    "post": {
        "tags": [
          "Employee Qualification"
        ],
        "summary": "Update Qualification",
        "description": "This API is used to Update qualification\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/UpdateQualificationParameter"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForUpdateQualificationApi"
          }

        }
      }
	  },

	  "/Employee Qualification  -  DeleteQualification" :
	  {
	    "post": {
        "tags": [
          "Employee Qualification"
        ],
        "summary": "Delete Qualification",
        "description": "This API is used to delete qualification\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/DeleteQualificationParameter"
            }
          }
        ],
        "responses": {
          "200": {
			 "$ref": "#/responses/SuccessMessageForDeleteQualificationApi"
		  }

        }
      }


	  },

	  "/Employee Training  -  GetTrainingDetail":
	  {
	   "post": {
        "tags": [
          "Employee Training"
        ],
        "summary": "Get Training Detail",
        "description": "This API is used to Get  training detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/GetTrainingDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetTrainingDetailApi"
          }

        }
      }},

	 "/Employee Training  -  addtrainingdetail":
	  {
	   "post": {
        "tags": [
          "Employee Training"
        ],
        "summary": "Add Training Detail",
        "description": "This API is used to Add Training Detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/AddTrainingDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddTrainingDetailApi"
          }

        }
      }},

	 "/Employee Training  -  updatetrainingdetail":
	  {
	   "post": {
        "tags": [
          "Employee Training"
        ],
        "summary": "Update Training Detail",
        "description": "This API is used to update training detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/UpdateTrainingDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateTrainingDetailApi"
          }

        }
      }},

	 "/Employee Training  -  deletetrainingdetail" :
	  {
	    "post": {
        "tags": [
          "Employee Training"
        ],
        "summary": "Delete Training Detail",
        "description": "This API is used to delete training detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
			  "$ref": "#/definitions/DeleteTrainingDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteTrainingDetailApi"
          }

        }
      }
	  },

	 "/Employee Vehicle  -  AddNewVehicleDetail":
	  {
	   "post": {
        "tags": [
          "Employee Vehicle"
        ],
        "summary": "Add New Vehicle Detail",
        "description": "This API is used to create employee's new vehicle detail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewVehicleDetailDefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddNewVehicleDetail"
          }

        }
      }
	  },

	 "/Employee Vehicle  -  UpdateVehicleDetail":
	  {
	   "post": {
        "tags": [
          "Employee Vehicle"
        ],
        "summary": "Update Vehicle Detail",
        "description": "This API is used to update employee's vehicle detail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateVehicleDetailDefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateVehicleDetail"
          }

        }
      }

	  },
	  "/Employee Vehicle  -  DeleteVehicleDetail":
	  {
	   "post": {
        "tags": [
          "Employee Vehicle"
        ],
        "summary": "Delete Vehicle Detail",
        "description": "This API is used to delete employee's vehicle detail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteVehicleDetailDefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteVehicleDetail"
          }

        }
      }

	  },
	  "/Employee Vehicle  -  GetByVehicleDetailId":
	  {
	   "post": {
        "tags": [
          "Employee Vehicle"
        ],
        "summary": "Get By Vehicle Detail Id",
        "description": "This API is used to get employee's vehicle detail by vehicle id",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetVehicleDetailByVehicleIdDefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetVehicleDetailByVehicleId"
          }

        }
      }

	  },

	 "/Employee Vehicle  -  GetVehicleByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee Vehicle"
        ],
        "summary": "Get Vehicle By Employee Id",
        "description": "This API is used to get employee's vehicle detail by employee id",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetVehicleDetailByEmployeeIdDefinition"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetVehicleDetailByEmployeeId"
          }

        }
      }

	  },

	"/Employee Custom Screen  -  GetCustomScreenDetail":
	  {
	   "post": {
        "tags": [
          "Employee Custom Screen"
        ],
        "summary": "Get Custom Screen Detail",
        "description": "This API is used to get custom screen details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCustomScreenDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetCustomScreenDetailApi"
          }

        }
      }

	  },
	  "/Employee Custom Screen  -  GetCustomScreenByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Employee Custom Screen"
        ],
        "summary": "Get Custom Screen By Employee Id",
        "description": "This API is used to get custom screen by employee id detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCustomScreenByEmployeeIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetCustomScreenByEmployeeIdApi"
          }

        }
      }

	  },
	 "/Employee Custom Screen  -  GetByCustomScreenTransactionId":
	  {
	   "post": {
        "tags": [
          "Employee Custom Screen"
        ],
        "summary": "Get By Custom Screen Transaction Id",
        "description": "This API is used to get by custom screen transaction id detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByCustomScreenTransactionIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetByCustomScreenTransactionIdApi"
          }

        }
      }

	  },
     "/Employee Custom Screen  -  AddNewCustomScreenTransaction":
	  {
	   "post": {
        "tags": [
          "Employee Custom Screen"
        ],
        "summary": "Add New Custom Screen Transaction",
        "description": "This API is used to add new custom screen transaction details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewCustomScreenTransactionParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForAddNewCustomScreenTransactionApi"
          }

        }
      }

	  },
	   "/Employee Custom Screen  -  UpdateCustomScreenTransaction":
	  {
	   "post": {
        "tags": [
          "Employee Custom Screen"
        ],
        "summary": "Update Custom Screen Transaction",
        "description": "This API is used to update custom screen transaction details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCustomScreenTransactionParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateCustomScreenTransactionApi"
          }

        }
      }

	  },
	   "/Employee Custom Screen  -  DeleteCustomScreenTransaction":
	  {
	   "post": {
        "tags": [
          "Employee Custom Screen"
        ],
        "summary": "Delete Custom Screen Transaction",
        "description": "This API is used to delete custom screen transaction details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCustomScreenTransactionParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteCustomScreenTransactionApi"
          }

        }
      }

	  },
	  "/Holiday Entitlement  -  GetHolidayEntitlement":
	  {
	   "post": {
        "tags": [
          "Holiday Entitlement"
        ],
        "summary": "Get Holiday Entitlement",
        "description": "This API is used to get holiday entitlement details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHolidayEntitlementParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetHolidayEntitlementApi"
          }

        }
      }

	  },
	  "/Holiday Entitlement  -  GetNextYearHolidayEntitlement":
	  {
	   "post": {
        "tags": [
          "Holiday Entitlement"
        ],
        "summary": "Get Next Year Holiday Entitlement",
        "description": "This API is used to get next year holiday entitlement details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetNextYearHolidayEntitlementParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetNextYearHolidayEntitlementApi"
          }

        }
      }

	  },
	  "/Holiday Entitlement  -  UpdateHolidayEntitlement":
	  {
	   "post": {
        "tags": [
          "Holiday Entitlement"
        ],
        "summary": "Update Holiday Entitlement",
        "description": "This API is used to update holiday entitlement details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateHolidayEntitlementParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateHolidayEntitlementApi"
          }

        }
      }

	  },
	  "/Holiday Entitlement  -  UpdateNextYearHolidayEntitlement":
	  {
	   "post": {
        "tags": [
          "Holiday Entitlement"
        ],
        "summary": "Update Next Year Holiday Entitlement",
        "description": "This API is used to update next year holiday entitlement details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateNextYearHolidayEntitlementParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateNextYearHolidayEntitlementApi"
          }

        }
      }

	  },
	  "/History  -  GetHistoryByEmployeeIdAndFieldName":
	  {
	   "post": {
        "tags": [
          "History"
        ],
        "summary": "Get History By EmployeeId And FieldName",
        "description": "This API is used to get history by employeeId and fieldname details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHistoryByEmployeeIdAndFieldNameParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetHistoryByEmployeeIdAndFieldNameApi"
          }

        }
      }

	  },
	  "/Query  -  GetQueryResult":
	  {
	   "post": {
        "tags": [
          "Query"
        ],
        "summary": "Get Query Result by Query Id",
        "description": "Deprecated.This API is used to get query result by query id details. It has been superseeded by Get Query Result By QueryName which returns date information in a UTC YYYY/MM/DD format\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetQueryResultParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetQueryResultApi"
          }

        }
      }

	  },
	  "/Query  -  GetQueryResultByQueryName":
	  {
	   "post": {
        "tags": [
          "Query"
        ],
        "summary": "Get Query Result By QueryName",
        "description": "This API is used to get query result By query name details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetQueryResultByQueryNameParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetQueryResultByQueryNameApi"
          }

        }
      }

	  },
	  "/Email Transaction  -  EmailInbox":
	  {
	   "post": {
        "tags": [
          "Email Transaction"
        ],
        "summary": "Email Inbox",
        "description": "This API is used for Email Inbox\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailInboxParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForEmailInboxApi"
          }

        }
      }


	  },

	 "/Right To Work  -  addrighttoworkdetail":
	  {
	    "post": {
        "tags": [
          "Right To Work"
        ],
        "summary": "Add Right To Work Detail",
        "description": "This API is used to add right to work detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewRightToWorkDetailParameter"
            }
          }
        ],
        "responses": {
		 "200": {

			 "$ref": "#/responses/SuccessMessageForaddrighttoworkdetailApi"
          }

        }
      }

	  },

	 "/Right To Work  -  getrighttoworkdetail":
	  {
	   "post": {
        "tags": [
          "Right To Work"
        ],
        "summary": "Get Right To Work Detail",
        "description": "This API is used to get right to work detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRightToWorkDetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForgetrighttoworkdetailApi"
          }

        }
      }


    },

	 "/Right To Work  -  updaterighttoworkdetail":
	  {
	   "post": {
        "tags": [
          "Right To Work"
        ],
        "summary": "Update Right To Work Detail",
        "description": "This API is used to update right to work details\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updaterighttoworkdetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForupdaterighttoworkdetailApi"
          }

        }
      }


	  },

	"/Right To Work  -  deleterighttoworkdetail":
	  {
	   "post": {
        "tags": [
          "Right To Work"
        ],
        "summary": "Delete Right To Work Detail",
        "description": "This API is used to delete right to work detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleterighttoworkdetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageFordeleterighttoworkdetailApi"
          }

        }
      }


	  },

	 "/Background Check  -  GetBackgroundCheckDetailByEmployeeId":
	  {
	   "post": {
        "tags": [
          "Background Check"
        ],
        "summary": "Get Background Check Detail By EmployeeId",
        "description": "This API is used to Get Background Check Detail By EmployeeId\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBackgroundCheckDetailByEmployeeIdParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForGetBackgroundCheckDetailByEmployeeIdApi"
          }

        }
      }


    },

	 "/Background Check  -  AddBackgroundCheckDetail":
	  {
	    "post": {
        "tags": [
          "Background Check"
        ],
        "summary": "Add Background Check Detail",
        "description": "This API is used to add background check detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBackgroundCheckDetailParameter"
            }
          }
        ],
        "responses": {
		 "200": {

			 "$ref": "#/responses/SuccessMessageForAddBackgroundCheckDetailApi"
          }

        }
      }

	  },

	 "/Background Check  -  UpdateBackgroundCheckDetail":
	  {
	    "post": {
        "tags": [
          "Background Check"
        ],
        "summary": "Update Background Check Detail",
        "description": "This API is used to update background check detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBackgroundCheckDetailParameter"
            }
          }
        ],
        "responses": {
		 "200": {

			 "$ref": "#/responses/SuccessMessageForUpdateBackgroundCheckDetailApi"
          }

        }
      }

	  },

	  "/Background Check  -  DeleteBackgroundCheckDetail":
	  {
	    "post": {
        "tags": [
          "Background Check"
        ],
        "summary": "Delete Background Check Detail",
        "description": "This API is used to Delete Background Check Detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBackgroundCheckDetailParameter"
            }
          }
        ],
        "responses": {
		 "200": {

			 "$ref": "#/responses/SuccessMessageForDeleteBackgroundCheckDetailApi"
          }

        }
      }

	  },

	 "/Other Event  -  getothereventdetail":
	  {
	   "post": {
        "tags": [
          "Other Event"
        ],
        "summary": "Get Other Event Detail",
        "description": "This API is used to get other event detail\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getothereventdetailParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForgetothereventdetailApi"
          }

        }
      }

    },

	"/Other Event  -  getotherevententitlement":
	  {
	   "post": {
        "tags": [
          "Other Event"
        ],
        "summary": " Get Other Event Entitlement",
        "description": "This API is used to get other event entitlement\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getotherevententitlementParameter"
            }
          }
        ],
        "responses": {
          "200": {

			 "$ref": "#/responses/SuccessMessageForgetotherevententitlementApi"
          }

        }
      }


    },

	 "/Other Event  -  DeleteOtherEvent":
	  {
	   "post": {
        "tags": [
          "Other Event"
        ],
        "summary": "Delete Other Event",
[...]
